# Mantem no Git apenas os arquivos essenciais da apresentação
*
!index.html
!.gitignore
!deck-stage.js
!images/
!images/**
!Figure 4.57 A ray traversing a partially opened door.png
!foto da porta.png
